# Simple Random Sampling

## Load Data

In [ ]:
# Import modul untuk menghubungkan Google Colab dengan Google Drive
from google.colab import drive

# Import pustaka pandas untuk manipulasi data
import pandas as pd

# Import modul random untuk sampling acak
import random

# Mount Google Drive agar dapat diakses dari Colab
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Ganti 'your_file_path' dengan path sebenarnya ke file Excel Anda di Google Drive
file_path = '/content/drive/MyDrive/Skripp/Sample/Data1.xlsx'

try:
    # Membaca file Excel ke dalam DataFrame pandas
    df = pd.read_excel(file_path)

    # Menampilkan isi DataFrame (opsional)
    print(df)

except FileNotFoundError:
    # Menangani error jika file tidak ditemukan pada path yang diberikan
    print(f"Error: File tidak ditemukan di {file_path}")
except Exception as e:
    # Menangani error lain yang mungkin terjadi saat membaca file
    print(f"Terjadi kesalahan: {e}")

          Creator Region  Total Incentive  2025-02-01 00:00:00  \
0     adakahphoto  MKS 1           155000                10000
1        alifalim  MKS 1            35000                    0
2      apakophoto  MKS 1            65000                20000
3      basoimbang  MKS 1            15000                    0
4       caripotoo  MKS 1            20000                    0
..            ...    ...              ...                  ...
330  quickphoto93  MKS 9            95000                20000
331    star_sport  MKS 9                0                    0
332   streetsport  MKS 9           100000                20000
333   temudijalan  MKS 9                0                    0
334     tirtaawan  MKS 9            85000                    0

     2025-02-02 00:00:00  2025-03-02 00:00:00  2025-04-02 00:00:00  \
0                      0                10000                    0
1                  10000                    0                10000
2                  10000                    0                10000
3                      0                    0                10000
4                  10000                    0                    0
..                   ...                  ...                  ...
330                30000                    0                10000
331                    0                    0                    0
332                10000                    0                    0
333                    0                    0                    0
334                    0                20000                10000

     2025-05-02 00:00:00  2025-06-02 00:00:00  2025-07-02 00:00:00  ...  \
0                  20000                10000                    0  ...
1                      0                    0                    0  ...
2                      0                    0                    0  ...
3                      0                    0                    0  ...
4                      0                    0                    0  ...
..                   ...                  ...                  ...  ...
330                10000                    0                    0  ...
331                    0                    0                    0  ...
332                    0                    0                    0  ...
333                    0                    0                    0  ...
334                    0                    0                15000  ...

     19/02/2025  20/02/2025  21/02/2025  22/02/2025  23/02/2025  24/02/2025  \
0          5000           0        5000       10000        5000           0
1             0           0           0           0           0           0
2             0        5000           0           0       10000           0
3             0           0           0           0        5000           0
4             0           0           0           0       10000           0
..          ...         ...         ...         ...         ...         ...
330        5000           0           0        5000           0           0
331           0           0           0           0           0           0
332        5000           0           0       15000        5000           0
333           0           0           0           0           0           0
334       10000        5000       10000           0           0           0

     25/02/2025  26/02/2025  27/02/2025  28/02/2025
0             0           0           0           0
1             0           0           0           0
2             0           0           0           0
3             0           0           0           0
4             0           0           0           0
..          ...         ...         ...         ...
330           0           0           0           0
331           0           0           0           0
332           0           0           0           0
333           0           0           0           0
334           0           0           0           0

[335 rows x 31 columns]

## Data Preprocessing

In [ ]:
# Mengambil kolom 'Creator' saja dari DataFrame

# Asumsikan df sudah didefinisikan dari blok kode sebelumnya
try:
    # Mengambil kolom dengan nama 'Creator'
    creator_column = df['Creator']  # Asumsi nama kolom adalah 'Creator'
    # Menampilkan isi kolom 'Creator'
    print(creator_column)
except KeyError:
    # Menangani error jika kolom 'Creator' tidak ditemukan di DataFrame
    print("Error: Kolom 'Creator' tidak ditemukan dalam DataFrame.")
except NameError:
    # Menangani error jika DataFrame df belum didefinisikan atau belum dimuat
    print("Error: DataFrame 'df' belum didefinisikan. Pastikan data sudah dimuat terlebih dahulu.")
except Exception as e:
    # Menangani error tak terduga lainnya
    print(f"Terjadi kesalahan yang tidak terduga: {e}")

0       adakahphoto
1          alifalim
2        apakophoto
3        basoimbang
4         caripotoo
           ...
330    quickphoto93
331      star_sport
332     streetsport
333     temudijalan
334       tirtaawan
Name: Creator, Length: 335, dtype: object

## Simple Random Sampling Modelling

In [ ]:
try:
    # Asumsikan df dan creator_column sudah didefinisikan dari kode sebelumnya
    # Melakukan simple random sampling (pengambilan sampel acak sederhana)
    sample_size = 78  # Ukuran sampel yang diinginkan
    random_indices = random.sample(range(len(creator_column)), sample_size)  # Mengambil indeks acak tanpa pengulangan
    sampled_photographers = creator_column.iloc[random_indices]  # Mengambil data berdasarkan indeks acak

    # Menampilkan fotografer yang terpilih secara acak dengan nomor urut dan nama
    print("\nFotografer yang dipilih secara acak:")
    for i, photographer in enumerate(sampled_photographers):
        print(f"{i+1}. {photographer}")

except NameError:
    # Menangani error jika df atau creator_column belum didefinisikan/muat data belum dilakukan
    print("Error: DataFrame 'df' atau 'creator_column' belum didefinisikan. Pastikan data sudah dimuat dan kolom 'Creator' sudah diekstraksi terlebih dahulu.")
except ValueError:
    # Menangani error jika ukuran sampel lebih besar dari populasi (jumlah data)
    print("Error: Ukuran sampel lebih besar daripada jumlah populasi.")
except Exception as e:
    # Menangani error tak terduga lainnya
    print(f"Terjadi kesalahan yang tidak terduga: {e}")

Randomly selected photographers:
1. edink14
2. rakast1013
3. kufotoyou
4. sportfotomoment
5. yukdifoto
6. cerita_olahragaa
7. yudhaa_kelanaa33
8. tikkengpotoo
9. ajimoto
10. fgwal1
11. trendlari
12. adakahphoto
13. andraphotosport
14. fotoeventmarathon2024
15. motretan
16. rejekykene
17. bayanganwarna
18. fotota_sport
19. kuikfoto
20. tirtaawan
21. msr_photosport
22. pappotona_anaanaka
23. m2sport
24. junot_run
25. yukk_foto
26. hmr2025
27. fotograferkandas
28. visualyu
29. topimerahphotosport
30. media_gifo
31. marikifoto
32. nusastory
33. miraclemomen
34. ikhwaan
35. fagilmuhammad
36. ruang_kerja
37. photorong01
38. ceritafoto
39. limitless
40. hayway
41. foreverun
42. acussr77
43. dilemafg
44. fotodijalan
45. pagisorecekret
46. sportwal
47. lane_sport
48. konozaasport
49. art9sport
50. userkifli80
51. sdq_hd
52. lapakolahraga
53. storysportmks
54. tigaduabelass
55. pixelrun
56. jejakfoto
57. irsaanptra
58. maekiphoto
59. asrrrjpg
60. pipposport09
61. temudijalan
62. kejarunn
63. maeheavenisyu
64. fotoma
65. photoyus
66. fn_sportgraphy
67. likerun
68. dharanavision
69. ammang09
70. azwyrm
71. sportsgallery
72. marikiiphotosport
73. fullsenyumkk
74. diro_fotografia
75. edy_flame
76. castlesport
77. bynomaden
78. enrekangfotoyou

In [ ]:
# Membuat DataFrame baru dengan fotografer yang terpilih dan indeks asli mereka
sampled_df = pd.DataFrame({
    'Original_Index': random_indices,  # Indeks asli dari DataFrame awal
    'Photographer': sampled_photographers  # Nama fotografer yang terpilih secara acak
})

# Mengatur ulang indeks DataFrame baru agar dimulai dari angka 1
sampled_df = sampled_df.reset_index(drop=True)
sampled_df.index = sampled_df.index + 1

# Menampilkan DataFrame dengan daftar bernomor dan indeks asli fotografer
sampled_df

    Original_Index     Photographer
1              242          edink14
2              133       rakast1013
3              276        kufotoyou
4               24  sportfotomoment
5              141        yukdifoto
..             ...              ...
74             265  diro_fotografia
75              83        edy_flame
76             236      castlesport
77             217        bynomaden
78             102  enrekangfotoyou

[78 rows x 2 columns]

## Save Data

In [ ]:
# Membuat DataFrame baru dengan fotografer yang terpilih dan indeks asli mereka
sampled_df = pd.DataFrame({
    'Original_Index': random_indices,  # Indeks asli dari DataFrame awal
    'Photographer': sampled_photographers  # Nama fotografer yang terpilih secara acak
})

# Mengatur ulang indeks DataFrame baru agar dimulai dari angka 1
sampled_df = sampled_df.reset_index(drop=True)
sampled_df.index = sampled_df.index + 1

# Menampilkan DataFrame dengan daftar bernomor dan indeks asli fotografer
print(sampled_df)

# Menyimpan DataFrame ke file CSV di Google Drive
try:
    sampled_df.to_csv('/content/drive/MyDrive/Skripp/Sample/Simple random Sampling Data.csv', index=True)  # Simpan dengan menyertakan indeks
    print("DataFrame berhasil disimpan ke file CSV!")
except Exception as e:
    # Menangani error jika terjadi masalah saat penyimpanan file CSV
    print(f"Terjadi kesalahan saat menyimpan ke CSV: {e}")

    Original_Index     Photographer
1              242          edink14
2              133       rakast1013
3              276        kufotoyou
4               24  sportfotomoment
5              141        yukdifoto
..             ...              ...
74             265  diro_fotografia
75              83        edy_flame
76             236      castlesport
77             217        bynomaden
78             102  enrekangfotoyou

[78 rows x 2 columns]
DataFrame berhasil disimpan ke file CSV!